<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<h3>
  Ver datos
</h3>

<table class="table" style="width:100%" id="tablaDeJefes">
  <tr>
    <th>ID</th>
    <th>NOMBRE</th>
    <th>APELLIDO</th>
  </tr>
</table>
<a id="boton_ver_datos" href='/datos' class="btn btn-secondary" role="button" style="width: 300px">VACIAR TABLA</a>


<script>


  $.ajax({
    type: "POST",
    url: '/enviarDatos',
    success: function (data) {
      console.table(data);

      let cantidadRegistros = data.length;
      for (let i = 0; i < cantidadRegistros; i++) {
        // for(let i in data){
        let datosTotales = `<tr>
          <td>${data[i].id}</td>
          <td>${data[i].nombre}</td>
          <td>${data[i].apellido}</td>  
        </tr>`;

        $('#tablaDeJefes').append(datosTotales);
      }

      // $('#tablaDeJefes').append(
      //   data.map(row => `<tr>
      //       <td>${row.id}</td>
      //       <td>${row.nombre}</td>
      //       <td>${row.apellido}</td>  
      //     </tr>`)
      // ); 


    }
  });

  $('#boton_borrar_datos').on('click', function () {
      $('#tablaDeJefes').value="";

});
  // console.log(datosTotales);
</script>