<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>


        let icompleto = [];


    function input() {
        var idinput = document.getElementById("idInput").value;

        var ninput = document.getElementById("nombreInput").value;

        var ainput = document.getElementById("apellidoInput").value;

        var icompleto = [idinput, ninput, ainput];
        console.log(icompleto);


}
        </script>

        <h3>
            Insertar Datos
</h3>

            <div>
                <div style="margin-bottom: 20px" class="input-group-prepend">
                    <span style="width: 200px; text-align: center" class="input-group-text"><strong>ID</strong></span>
                    <input margin-left: 2em; style="width: 300px; margin-left: 1em;"  type="text" aria-label="id" class="form-control" id="idInput">
    </div>
                <div style="margin-bottom: 20px" class="input-group-prepend">
                    <span style="width: 200px;" class="input-group-text"><strong>NOMBRE</strong></span>
                    <input style="width: 300px;margin-left: 1em; " type="text" aria-label="nombre" class="form-control" id="nombreInput">
    </div>
                    <div style="margin-bottom: 20px" class="input-group-prepend">
                        <span style="width: 200px;" class="input-group-text"><strong>APELLIDO</strong></span>
                        <input style="width: 300px; margin-left: 1em;" type="text" aria-label="apellido" class="form-control" id="apellidoInput">
    </div>
                        <a class="btn btn-info" role="button" style="width: 300px" onclick="input();">COMMIT</a>
                    </div>
