<head>
    <% include ../partials/new_head %>
</head>
  <style type="text/css">
        .centerDiv {
            width: 50%;
            height: 200px;
            margin-left: 27%;
            margin-top: 15%;
        }
    </style>
    
    <div class="centerDiv">
        <h3 style="margin-left: 90px">
            Bienvenido!
            ¿Que desea hacer?
        </h3>
    
        <a class="btn btn-success" href='/insertar' role="button" style="width: 300px">Insertar Datos </a>
        <a class="btn btn-info" href='/datos' role="button" style="width: 300px">Ver Datos </a>
    
    </div>

